body {
    font-family: "Verdana", Geneva, Tahoma, sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 0px;
    min-height: 100vh;
}


/* logo */
.logo {
    width: 200px;
    margin-left: 60px;
}

/* navigation */
nav li {
    display: inline-block;
    border: 1px solid black;
    padding: 3px 10px;
}

/* Homepage */
.welcome {
  background-image: url(../images/homepage1.jpg);
  height: 500px;
  width: 1000px;
  margin: 40px auto;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  font-size: 56px;
  text-align: left;
}

.selling__points {
    display: grid;
    max-width: 1000px;
    margin: 50px auto;
    text-align: center;
    grid-template-columns: repeat(4, 1fr);
}

.selling__points h2 {
    grid-column: -1/1;
}

.product__images img {
    width: 100%;
}

.arrow {
    float: right;
}

header {
    background-color: #F3F2F2;
}
footer {
    background-color: #707070;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 200px;
    margin-top: 20px;
}

footer div {
    color: #FFF;
}


